.logos {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 70px 0;
}

.logos::before,
.logos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 70px;
  height: 100%;
  z-index: 99;
  pointer-events: none;
}
.logos::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.logos::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.logos-slide {
  display: flex;
  animation: infinite-brands 38s 500ms linear infinite;
  width: calc(100px * 38);
  gap: 50px;
}

.logos-slide:hover {
  animation-play-state: paused;
}

.logos-slide img {
  width: 100px;
  height: 100px;
}

@keyframes infinite-brands {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100px * 19));
  }
}
